@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  .custom-shape-divider-bottom-1693144741 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1693144741 svg {
    position: relative;
    display: block;
    width: calc(181% + 1.3px);
    height: 123px;
  }

  .custom-shape-divider-bottom-1693144741 .shape-fill {
    fill: #22c55e;
  }
}
